* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background: #fff;
}

.main {
  display: flex;
  background-color: #1c1a19;
  min-height: 90vh;
  margin: 0;
  flex-direction: column;
  min-width: 375px;
  align-content: center;
}

.navigation {
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 63px;
  padding-left: 23px;
  padding-top: 17px;
  padding-bottom: 18px;
  padding-right: 23px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hamb_icon {
  margin-right: 69px;
}

.header h2 {
  font-weight: 400;
  line-height: 138%;
  font-size: 1.5em;
  color: rgb(244 94 44);
}

.header h1 {
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-size: 2.5em;
  background: -webkit-linear-gradient(rgb(244 94 44), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}

.descriptor {
  background-color: #f8f8f8;
  padding: 17.1px 14px 16.9px 14px;
  margin-bottom: 30px;
}

.descriptor p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 142%;
  color: #515151;
  text-align: justify;
}

.schedule {
  font-family: 'Gothic A1', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  color: #595959;
  margin-bottom: 13px;
}

.schedule_desc {
  font-family: 'Gothic A1', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #868686;
  margin-bottom: 69.62px;
}

.middle_part {
  background-image: url("images/patternedbg1.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30.5px 10px 0 10px;
}

.sessions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 15.92px 8.92px;
  margin-bottom: 2.98px;
}

.sessions h3 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 175%;
  color: #ff5438;
  margin-right: 11.6px;
}

.sessions i {
  margin-right: 16px;
  color: #ff5438;
}

.sessions p {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 208%;
  font-style: normal;
  color: #fff;
  text-align: justify;
}

.bottom_guides {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px 30.5px 10px;
}

.middle_part button {
  margin-top: 40px;
  padding: 20px 50px;
  background-color: #ff4f38;
  height: 68px;
  width: 300px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 175%;
}

.middle_heading {
  font-family: 'Lato',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #fff;
  opacity: 100%;
  margin-bottom: 15px;
}

.bottom_heading {
  font-family: 'Lato',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #ff4f38;
  opacity: 100%;
  margin-bottom: 15px;
}

.speakers {
  display: flex;
  justify-content: flex-start;
}

.desc {
  margin-left: 14px;
}

.desc h2 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  margin-bottom: 6.4px;
}

.desc h3 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 10px;
  line-height: 149%;
  color: #f78c89;
  margin-bottom: 19.21px;
}

.desc p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  color: #000;
  letter-spacing: -0.06em;
}

.guidance hr {
  border: 2px solid #a04038;
  width: 25%;
}

.guidance {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 32.49px;
}

.middle_part hr {
  border: 2px solid #a04038;
  width: 25%;
  margin-bottom: 40px;
}

.bottom_guides button {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 32.49px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 255%;
  color: #000;
  letter-spacing: -0.05em;
}

.main_headline {
  background-image: url("images/phone_back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 97.62px;
  padding-bottom: 69.62px;
  padding-left: 18px;
  padding-right: 18px; 
}

.logo_info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffc600;
}