* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background: #fff;
}

@media (max-width: 768px) {
  .middle_part_about {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 30.5px 20.5px 0 20.5px;
    text-align: center;
  }

  .socials {
    display: none;
  }

  .main {
    display: flex;
    background-color: #1c1a19;
    min-height: 90vh;
    margin: 0;
    flex-direction: column;
    align-content: center;
  }

  .navigation {
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 63px;
    padding-left: 23px;
    padding-top: 17px;
    padding-bottom: 18px;
    padding-right: 23px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  }

  .navigation button {
    visibility: hidden;
  }

  .main_menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.7);
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 39px;
    padding-top: 20px;
    z-index: 2;
    visibility: hidden;
  }

  .main_menu img {
    margin-bottom: 35px;
  }

  .menubar {
    list-style-type: none;
  }

  .menubar hr {
    margin: 30px 0 30px 0;
  }

  .menubar li {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    color: #fff;
  }

  .menubar a {
    text-decoration: none;
    color: #fff;
  }

  .current a {
    text-decoration: none;
    color: #f07f7e;
  }

  .main_headline {
    background-image: url("images/phone_back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 97.62px;
    padding-bottom: 69.62px;
    padding-left: 18px;
    padding-right: 18px;
  }

  .header h2 {
    font-weight: 400;
    line-height: 138%;
    font-size: 1.5em;
    color: rgb(244 94 44);
  }

  .header h1 {
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 2.5em;
    background: -webkit-linear-gradient(rgb(244 94 44), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
  }

  .descriptor {
    background-color: #f8f8f8;
    padding: 17.1px 14px 16.9px 14px;
    margin-bottom: 30px;
  }

  .descriptor p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 142%;
    color: #515151;
    text-align: justify;
  }

  .descriptor_about p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 142%;
    color: #515151;
    text-align: justify;
  }

  .descriptor_about {
    background-color: #fff;
    padding: 17.1px 14px 16.9px 14px;
  }

  .schedule {
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    color: #595959;
    margin-bottom: 13px;
  }

  .schedule_desc {
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #868686;
  }

  .middle_heading {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #fff;
    opacity: 100%;
    margin-bottom: 15px;
  }

  .middle_part {
    background-image: url("images/patternedbg1.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30.5px 10px 30.5px 10px;
  }

  .sessions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 15.92px 8.92px;
    margin-bottom: 2.98px;
  }

  .sessions i {
    margin-right: 16px;
    color: #ff5438;
  }

  .sessions p {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 208%;
    font-style: normal;
    color: #fff;
    text-align: justify;
  }

  .more_info {
    display: none;
  }

  .speakers {
    display: flex;
    justify-content: flex-start;
    margin-top: 17.79px;
  }

  .bottom_guides {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 30.5px 10px;
  }

  .bottom_guides_index {
    display: none;
  }

  .footer_index {
    display: none;
  }

  .main_headline_about {
    background-image: url("images/phone_back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 9px;
  }

  .header_about h2 {
    font-weight: 400;
    line-height: 138%;
    font-size: 1.5em;
    color: rgb(244 94 44);
  }

  .header_about h1 {
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 2.5em;
    background: -webkit-linear-gradient(rgb(244 94 44), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
  }

  .footer_about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 27px;
    padding-bottom: 27px;
    color: #fff;
  }

  .logo_info p {
    font-size: 0.5em;
    margin-right: 55px;
  }

  .first_order {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
  }

  .sec_order {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;
  }

  .middle_heading_about {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #2c2c2c;
    letter-spacing: -0.02em;
    margin-bottom: 15px;
  }

  .middle_part_about p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 175%;
    letter-spacing: -0.03em;
    color: #838383;
    margin-bottom: 35px;
  }

  .schedule_desc_about {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #7a7a7a;
    line-height: 208%;
  }

  .extra_info {
    text-decoration: underline;
    text-underline-position: under;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 208%;
    letter-spacing: 0.02em;
    color: #5f5f5f;
  }

  .bottom_info_content {
    display: none;
  }
}

@media (min-width: 768px) {
  .menubar hr {
    display: none;
  }

  .middle_part_about {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30.5px 20.5px 0 20.5px;
    text-align: center;
  }

  .footer_content_logo p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    color: #fff;
    line-height: 131%;
  }

  .footer_content_logo {
    margin-left: 65px;
  }

  .bottom_info_content {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .middle_part_about p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 131%;
    letter-spacing: -0.03em;
    color: #838383;
    margin-bottom: 35px;
  }

  .footer_about {
    display: none;
  }

  .first_order {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 65px;
    order: 1;
  }

  .middle_heading_about {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 93%;
    color: #2c2c2c;
    letter-spacing: -0.03em;
    margin-bottom: 15px;
  }

  .sec_order {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 65px;
    order: 2;
  }

  .descriptor_about {
    background-color: #fff;
    padding: 35px 65px 35px 65px;
  }

  .descriptor_about p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 179%;
    color: #000;
    text-align: center;
  }

  .header_about h1 {
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 3.5em;
    background: -webkit-linear-gradient(rgb(244 94 44), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
  }

  .main_headline_about {
    background-color: #f7f7f8;
    padding: 109px 251px 109px 251px;
    background-image: url("images/main_big.png");
    background-size: cover;
  }

  .header_about h2 {
    font-weight: 400;
    line-height: 138%;
    font-size: 2.5em;
    color: rgb(244 94 44);
  }

  .bottom_guides {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 30.5px 10px;
  }

  .bottom_guides button {
    display: none;
  }

  .speakers {
    display: flex;
    justify-content: flex-start;
    margin-right: 27.5px;
    margin-top: 25px;
  }

  .grid_style {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 74px;
  }

  .middle_part button {
    display: none;
  }

  .more_info {
    margin-top: 30.5px;
    text-decoration: underline;
    text-underline-position: under;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
  }

  .sessions p {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 208%;
    font-style: normal;
    letter-spacing: 0.06em;
    color: #fff;
    text-align: center;
  }

  .sessions i {
    margin-bottom: 16px;
    color: #ff5438;
  }

  .sessions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 15.92px 8.92px;
    margin-right: 2.98px;
  }

  .session_containers {
    display: flex;
  }

  .middle_part {
    background-image: url("images/patternedbg1.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30.5px 10px 75px 10px;
  }

  .middle_heading {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 93%;
    color: #fff;
    letter-spacing: -0.01em;
    margin-bottom: 15px;
  }

  .schedule_desc {
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 27.61px;
    letter-spacing: -0.02em;
    color: #868686;
  }

  .schedule {
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 42.48px;
    letter-spacing: -0.08em;
    color: #595959;
    margin-bottom: 13px;
  }

  .descriptor p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25.49px;
    line-height: 142%;
    color: #515151;
    text-align: justify;
  }

  .descriptor {
    background-color: #f8f8f8;
    padding: 36.32px 29.74px 35.23px 29.74px;
    border: 5px solid #fff;
    margin-bottom: 63.73px;
  }

  .socials {
    color: #fff;
    display: flex;
    justify-content: flex-end;
    padding: 6px;
    margin-left: 205px;
    margin-right: 194px;
  }

  .header h2 {
    font-weight: 500;
    line-height: 140%;
    font-size: 3em;
    color: rgb(244 94 44);
  }

  .header h1 {
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 5em;
    background: -webkit-linear-gradient(rgb(244 94 44), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
  }

  .main_headline {
    background-image: url("images/Tropical_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 116px;
    padding-bottom: 121px;
    padding-left: 206px;
    padding-right: 441px;
  }

  .navigation button {
    background-color: #fff;
    border: 5px solid #ec4327;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    color: #ec4327;
    padding: 12.5px 12px;
  }

  .socials i {
    margin-right: 20px;
  }

  .socials p {
    margin-right: 20px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
  }

  .main {
    display: flex;
    background-color: #1c1a19;
    margin: 0;
    flex-direction: column;
    min-width: 375px;
    align-content: center;
  }

  .navigation {
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 63px;
    padding-left: 205px;
    padding-top: 17px;
    padding-bottom: 18px;
    padding-right: 194px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  }

  .hamburger_icon {
    display: none;
  }

  .menubar {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
  }

  .main_menu {
    display: flex;
    align-items: center;
    visibility: visible;
  }

  .menubar li {
    margin-right: 65px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    color: #868686;
  }

  .logo_info_index {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffc600;
    margin-right: 29.52px;
  }

  .footer_index {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 27px;
    padding-bottom: 27px;
    color: #fff;
  }

  .footer_index p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 131%;
  }

  .partners_first_index {
    display: flex;
    justify-content: center;
    margin-bottom: 44.27px;
  }

  .partners_first_index img {
    margin-right: 50px;
  }

  .menubar a {
    text-decoration: none;
    color: #868686;
  }

  .current a {
    text-decoration: none;
    color: #f07f7e;
  }

  .tours_work {
    display: flex;
  }

  .tours_work img {
    margin-right: 25px;
  }

  .schedule_desc_about {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #7a7a7a;
    line-height: 156%;
    letter-spacing: 0.03em;
  }

  .extra_info {
    text-decoration: underline;
    text-underline-position: under;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 147%;
    letter-spacing: 0.02em;
    color: #5f5f5f;
  }

  .bottom_info {
    display: none;
  }
}

.hamburger_icon {
  margin-right: 69px;
}

.sessions_about {
  position: relative;
  height: 182.46px;
  overflow-y: hidden;
  opacity: rgba(0, 0, 0, 0.7);
  margin-bottom: 25px;
}

.sessions_about img {
  object-fit: cover;
  opacity: 0.4;
}

.dates {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo_info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffc600;
  font-size: small;
  margin-right: 65px;
}

.dates h3 {
  font-family: 'Gothic A1', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  color: #000;
}

.desc_event {
  color: #000;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 175%;
}

.event_details {
  padding: 30px 41.5px 20.92px 41.5px;
  background-color: rgb(247, 247, 248);
}

.sessions h3 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 175%;
  color: #ff5438;
  margin-right: 11.6px;
}

.middle_part button {
  margin-top: 40px;
  padding: 20px 50px;
  background-color: #ff4f38;
  height: 68px;
  width: 300px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 175%;
}

.bottom_heading {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #ff4f38;
  opacity: 100%;
  margin-bottom: 15px;
}

.desc {
  margin-left: 14px;
}

.desc h2 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  margin-bottom: 6.4px;
}

.desc h3 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 10px;
  line-height: 149%;
  color: #f78c89;
  margin-bottom: 19.21px;
}

.desc p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  color: #000;
  letter-spacing: -0.06em;
}

.guidance hr {
  border: 2px solid #a04038;
  width: 25%;
}

.guidance {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 32.49px;
}

.middle_part hr {
  border: 2px solid #a04038;
  width: 25%;
  margin-bottom: 40px;
}

.middle_part_about hr {
  border: 2px solid #a04038;
  width: 25%;
  margin-bottom: 10px;
}

.partners_second {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.partners_second img {
  margin-right: 40px;
}

.speakers_about {
  padding-left: 9.94px;
  padding-right: 9.94px;
}

.partners_first {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #fff;
}

.footer p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 131%;
}

.partners_first img {
  margin-right: 19px;
}

.bottom_guides_about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #414246;
}

.bottom_guides_index {
  background-color: #414246;
}

.bottom_guides button {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  margin-top: 30px;
  margin-bottom: 32.49px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 255%;
  color: #000;
  letter-spacing: -0.05em;
}

.header_about {
  text-align: center;
}

.logo_info_footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffc600;
  margin-right: 29.52px;
}
